<header class="head">
    <mat-toolbar>
        <img src="assets/twice_logo.png" routerLink="/">
        <div class="link">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>subject</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item onclick="location.href=window.open('https://www.twicejapan.com/')">
                    <span>OFFCIAL SITE</span>
                </button>
                <button mat-menu-item onclick="location.href=window.open('https://www.instagram.com/jypetwice_japan/')">
                    <span>Instagram</span>
                </button>
                <button mat-menu-item onclick="location.href=window.open('https://www.youtube.com/channel/UCCRb6nYKaT8tzLA8CwDdUtw')">
                    <span>YouTube</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
